  
  <!--DO NOT REMOVE-->
  {{{ patternLabFoot }}}

  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="/js/script.js"></script>
  </body>
</html>
